* {
	font-family: Arial;	
}

h1 {
	width: 100%;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #000;
}

hr {
	border: 1px solid #aaa;
}

h3 {
	width: 100%;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	color: #333;
}

table {
	margin: 20px;
	border: 1px solid #ddd;
}

td, th {
	padding: 10px;
}