extends ../../views/base.jade

block title
	title Form

block libsStyles

block appStyles
	link(rel="stylesheet",href="/statics/modules/form-seed/app/app.css")

block content
	div(ng-app="app", app-container).cover

block libsScripts

block appScripts
	script(src="/statics/modules/form-seed/app/app.js")
	script(src="/statics/modules/form-seed/app/app.config.js")
	script(src="/statics/modules/form-seed/app/app.controller.js")
	script(src="/statics/modules/form-seed/app/app.directive.js")